@import url(https://fonts.googleapis.com/css?family=Roboto:400;500);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  margin-top: 3rem;
  position: relative;
}

.city {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1.15rem;
}

.suggestions {
  position: absolute;
  top: 3rem;
  z-index: 99;
  left: 0;
  right: 0;
  border: 1px solid black;
  list-style: none;
  margin-inline: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #d3d3d3;
  border-radius: 0.5rem;
}

.suggestions li {
  cursor: pointer;
}

.NumberOfEvents {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  margin-top: 4.5rem;
  position: relative;
}

.eventCountInput {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.EventList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-inline: 2rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .EventList {
    grid-template-columns: repeat(2, 1fr);
  }
}

.eventData {
  border: 1px solid black;
  border-radius: 0.5rem;
}

.event {
  padding: 1rem;
}

.display-none {
  display: none;
}

.showSuggestions {
  display: block;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

.expand-collapse-buttons button {
  background-color: aquamarine;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.description {
  font-size: 0.9rem;
}
